
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Pal: Redefining Lifestyle, game, chat, live</title>
    <link rel="stylesheet" href="Rule_ListCover.css">
    <!-- font-family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body style="background-color: #120E1B;">

    <!-- ruleLC -->
    <div class="ruleLC">
        <div class="ruleLCWrapper">
            <div class="content">
                <div class="titleContent">
                    <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("GameInformation","GameInformation")'">
                        <
                    </button>
                    <div class="title">
                        Rating rules for cover image
                    </div>
                </div>

                <!-- ruleLCLoading -->
                <div class="ruleLCLoading">
                    <div class="ruleLCContainer">
                        <div class="addForm">
                            <p class="desc">
                                Epal.gg is dedicated to creating a social gaming platform where users can
                                safely and creatively express themselves. To reach this goal, please observe our
                                Multimedia Policy when uploading images to your game application. You can read the full
                                policy here
                                <a href="https://policies.epal.gg/multimedia-policy.html?theme=dark">
                                    Multimedia
                                    Policy
                                </a> These policies apply to all genders.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- criterias -->
                <div class="criterias">
                    <h6>Rating criterias :</h6>
                    <p>1. The general quality of the image, and its resolution;</p>
                    <p>2. What is in the background, messy or clean;</p>
                    <p>3. The lighting of the image;</p>
                    <p>
                        4. Whether if it is an image of a real person;
                    </p>
                    <p>5. Whether if all facial features are clearly defined;</p>
                    <p>
                        6. Excellent is 80 and above, Good is 60 to 79, Moderate is 40 to 59, and Poor is 39 and below;
                    </p>
                    <p>
                        7. This rating for your voice line is a review system to improve the overall quality of your
                        store page, and hence removal of potential issues.
                    </p>
                </div>

                <!-- example -->
                <div class="example">
                    <h6>Example :</h6>
                    <div class="exContainer">

                        <div class="card">
                            <img src="~/Assets/images/GameInformation/excellent.png" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <div class="btnImg">
                                    <img src="~/Assets/images/GameInformation/green.png" alt="">
                                    <p class="card-title">Excellent</p>
                                </div>
                                <p class="card-text">
                                    Clean background, and well-defined facial features. This is a great
                                    portrait.
                                </p>
                            </div>
                        </div>

                        <div class="card">
                            <img src="~/Assets/images/GameInformation/good.png" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <div class="btnImg">
                                    <img src="~/Assets/images/GameInformation/green.png" alt="">
                                    <p class="card-title">Good</p>
                                </div>
                                <p class="card-text">Feels natural, but facial features are partially obstructed, and the background is a little messy.</p>
                            </div>
                        </div>

                        <div class="card">
                            <img src="~/Assets/images/GameInformation/moderate.png" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <div class="btnImg">
                                    <img src="~/Assets/images/GameInformation/orange.png" alt="">
                                    <p class="card-title">Moderate</p>
                                </div>
                                <p class="card-text">A lot of obstruction on the face. Horrible lighting with a messy background.</p>
                            </div>
                        </div>

                        <div class="card">
                            <img src="~/Assets/images/GameInformation/poor.png" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <div class="btnImg">
                                    <img src="~/Assets/images/GameInformation/red.png" alt="">
                                    <p class="card-title">Poor</p>
                                </div>
                                <p class="card-text">Does not contain a real person, and it has no real content. It is unappealing.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- tips -->
                <div class="tips">
                    <h6>Tips :</h6>
                    <p>1. High resolution pictures with great lighting are always preferred;</p>
                    <p>2. Use pictures with clean or designed background;</p>
                    <p>
                        3. Your facial features should be clearly-defined in the picture, do not use filters that block
                        off parts of your face;
                    </p>
                    <p>
                        4. Clients overwhelmingly prefer to see pictures of human faces, so avoid using pictures of
                        animals or screenshot of videos and in-game content.
                    </p>
                </div>

            </div>
        </div>
    </div>
</body>

@section topCSS{

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            color: white;
        }

        /* ruleLC */
        .ruleLC {
            height: 100%;
            overflow: auto;
            position: relative;
        }

        .ruleLCWrapper {
            width: 100%;
            background-position: 50%;
            background-size: cover;
        }

        .content {
            padding: 100px 20px;
        }

        .titleContent {
            display: flex;
        }

        .btn {
            width: 35px !important;
            height: 35px !important;
            border-radius: 30% !important;
        }

        .title {
            margin-left: 15px;
            margin-bottom: 24px;
            line-height: 1;
            font-size: 24px;
            font-weight: 500;
        }

        /* ruleLCLoading */
        .ruleLCLoading {
            position: relative;
        }

        .ruleLCContainer {
            transition: opacity .3s;
        }

        .addForm {
            width: 100%;
        }

        .desc {
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 14px;
            color: #c4c3e6;
            margin-bottom: 24px;
        }

        a {
            color: #7041e6 !important;
        }

        p {
            font-size: 12px;
            color: #c4c3e6;
        }

        /* criterias */
        .criterias {
            margin-top: 35px;
        }

        /* example */
        .example {
            margin-top: 35px;
        }

        .exContainer {
            display: grid !important;
            grid-template-columns: repeat(2,50%) !important;
        }

        .card {
            width: 100% !important;
            color: #c4c3e6 !important;
            background-color: #21212C !important;
        }

        .btnImg {
            display: flex;
        }

            .btnImg img {
                width: 15px !important;
                height: 15px !important;
            }

        .card-title {
            margin-left: 5px;
            font-size: 12px !important;
            color: white !important;
        }

        .card img {
            width: 100%;
        }

        .card-body {
            width: 100%;
        }

        .card-body {
            padding: 0.5rem 0.5rem !important;
        }

        /* tips */
        .tips {
            margin-top: 35px;
        }

        @@media screen and (max-width:767px) {
        }

        @@media screen and (min-width:768px) {

            .ruleLC {
                width: 650px;
            }

            .exContainer {
                display: flex !important;
            }

            .titleContent {
                align-items: baseline;
            }
        }

        @@media screen and (min-width:996px) {

            .ruleLC {
                width: 650px;
            }

            .exContainer {
                display: flex !important;
            }

            .titleContent {
                align-items: baseline;
            }
        }

        @@media screen and (min-width:1200px) {

            .ruleLC {
                width: 650px;
            }

            .exContainer {
                display: flex !important;
            }

            .titleContent {
                align-items: baseline;
            }
        }
    </style>

}

