@*Avatar*@
<div class="avatarContainer">
    @*@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "avatar-upload" }))
        {*@
    <div class="avatar-upload">
        @*@Html.AntiForgeryToken()*@
        <div class="avatar-edit">

            <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" name="avatar" />
            <label for="imageUpload">
                <i class="fas fa-camera"></i>
            </label>

        </div>

        <div class="avatar-preview container2">
            @*style="background-image:url('@ViewBag.Avatar');"*@
            <div id="imagePreview">
                @*<input type="hidden" name="_token" value="{{csrf_token()}}">*@
                <input type="submit" class="btn btn-danger" value="Upload" id="btnSubmit">
            </div>

        </div>

    </div>
    <label id="ShowMsg"></label>
    @*}*@
</div>


