<div class="wrapper">
    <!-- header -->
    <div class="header">
        <img class="headerImg" src="/E-Pal/CreatorProject/Img_CreatorProjectHomepage/CPH_01.png">
        <img class="shadowImg" src="/E-Pal/CreatorProject/Img_CreatorProjectHomepage/shadow.png">
        <h1>Become a Creator Now!</h1>
        <p>More exposure | More orders</p>
        <div class="epalButtonWrapper">
            <button type="button" class="btn btn-outline-secondary"
                    onclick="location.href='https://www.epal.gg/addgame'">
                Apply For Free
            </button>
        </div>
    </div>
    <!-- firstCard -->
    <div class="firstCard">
        <div class="firstCardContent">
            <div class="whatIsACreator">
                <img src="/E-Pal/CreatorProject/Img_CreatorProjectHomepage/CPH_02.png">
                <div class="whatIsACreator_info">
                    <div class="whatIsACreator_title">What is a Creator?</div>
                    <div class="whatIsACreator_content">
                        A Content Creator is a certified ePal who livestreams gaming
                        and entertainment content on a regular basis, while also accepting orders as an ePal.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- secondCard -->
    <div class="secondCard">
        <div class="secondCardContent">
            <div class="secondCardPrivilege">
                <div class="privilegeTitle">Why become a Creator?</div>
                <div class="privilegeImgs">
                    <div class="items">
                        <div class="itemImg">
                            <img src="/E-Pal/CreatorProject/Img_CreatorProjectHomepage/CPH_03.png">
                        </div>
                        <div class="itemText">
                            <div class="title">Livestream and get paid</div>
                            <div class="content">Increase your income by $100 per day</div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="itemImg">
                            <img src="/E-Pal/CreatorProject/Img_CreatorProjectHomepage/CPH_04.png">
                        </div>
                        <div class="itemText">
                            <div class="title">Sync your livestream to get more followers</div>
                            <div class="content">
                                Sync your stream onto E-Pal and get more than 20 followers per day
                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="itemImg">
                            <img src="/E-Pal/CreatorProject/Img_CreatorProjectHomepage/CPH_05.png">
                        </div>
                        <div class="itemText">
                            <div class="title">Extra ePal points to level up</div>
                            <div class="content">Additional 5% more ePal points than normal ePals</div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="itemImg">
                            <img src="/E-Pal/CreatorProject/Img_CreatorProjectHomepage/CPH_06.png">
                        </div>
                        <div class="itemText">
                            <div class="title">Invites for money</div>
                            <div class="content">
                                10 USD cash for each successfully verified creator you invite.
                                Payments are sent to your wallet on the 5th of each month
                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="itemImg">
                            <img src="/E-Pal/CreatorProject/Img_CreatorProjectHomepage/CPH_07.png">
                        </div>
                        <div class="itemText">
                            <div class="title">Official Twitch Team</div>
                            <div class="content">
                                You will have the opportunity to be invited into the Official E-Pal
                                Twitch Team and receive special promotion by the platform
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- thirdCard -->
    <div class="thirdCard">
        <div class="thirdCardContent">
            <div class="whoCanBecomeACreator">
                <img src="Img_CreatorProjectHomepage/CPH_08.png">
                <div class="whoCanBecomeACreator_info">
                    <div class="whoCanBecomeACreator_title">Who can become a Creator?</div>
                    <div class="whoCanBecomeACreator_content">
                        <p>1. Average concurrent viewer of 10 or above in the past 30 days.</p>
                        <p>2. Streamed at least 10 times in the past 30 days.</p>
                        <p>3. You must add a panel with a link to E-Pal.</p>
                        <p>4. Looking to monetize their content through E-Pal.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section topCSS{
    <style>


        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            color: white;
        }
        /* header */
        .wrapper .header {
            text-align: center;
            padding: 144px 0 50px;
            background: url(/E-Pal/CreatorProject/Img_CreatorProjectHomepage/CPH_09.jpg) 50% no-repeat;
            background-size: cover;
            position: relative;
        }

        .headerImg {
            display: block;
            width: 90%;
            margin: 0 auto 24px;
        }

        .shadowImg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 121px;
        }

        .wrapper .header h1 {
            font-size: 25px;
            font-weight: 500;
            line-height: 48px;
            margin: 0;
        }

        .wrapper .header p {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 40px;
        }

        .epalButtonWrapper {
            display: inline-block;
        }

        .btn {
            color: white;
            position: relative;
            border: 0;
            outline: 0;
            margin-top: 5%;
            margin-bottom: 5%;
            width: 120px;
            padding: 6px;
            text-align: center;
            text-decoration: none;
            font-size: 10px;
            font-weight: 500;
            box-sizing: border-box;
            background: linear-gradient(90deg, #625cff, #7041e6);
            background-size: 100%;
            border-radius: 400px;
        }

            .btn:hover {
                color: white;
                position: relative;
                border: 0;
                outline: 0;
                margin-top: 5%;
                margin-bottom: 5%;
                width: 120px;
                padding: 6px;
                text-align: center;
                text-decoration: none;
                font-size: 10px;
                font-weight: 500;
                box-sizing: border-box;
                background: linear-gradient(90deg, #625cff, #625cff);
                background-size: 100%;
                border-radius: 400px;
            }
        /* firstCard */
        .firstCard {
            position: relative;
            padding: 30px 0 56px;
            background-color: black;
        }

        .firstCardContent {
            margin: 0 25px;
        }

        .whatIsACreator {
            align-items: center;
            justify-content: space-between;
            display: block;
            text-align: center;
        }

        .whatIsACreator_info {
            position: relative;
        }

        .whatIsACreator img {
            width: 250px;
            height: 160px;
        }

        .whatIsACreator_title {
            font-size: 18px;
            font-weight: 500;
            line-height: 57px;
            position: relative;
        }

            .whatIsACreator_title:before {
                position: absolute;
                bottom: 0;
                left: 43%;
                width: 48px;
                height: 4px;
                content: "";
                background: linear-gradient(270deg,#c86398,#7e53f4);
            }

        .whatIsACreator_content {
            margin-top: 16px;
            font-size: 10px;
            color: #c4c3e6;
        }
        /* secondCard */
        .secondCard {
            padding: 56px 0;
            background-color: #21212c
        }

        .secondCardContent {
            margin: 0 5px;
        }

        .privilegeTitle {
            font-size: 18px;
            font-weight: 500;
            color: var(--font-color-1);
            line-height: 33px;
            text-align: center;
        }

        .items {
            display: flex;
        }

        .itemImg {
            width: 30%;
        }

            .itemImg img {
                width: 120px;
                margin: 30px 0 8px;
            }

        .itemText {
            width: 65%;
            margin: auto 5px;
        }

        .title {
            font-size: 10px;
            font-weight: 500;
            line-height: 0px;
            margin: 30px 0 8px;
        }

        .content {
            font-size: 10px;
            font-weight: 400;
            color: #c4c3e6;
            line-height: 18px;
        }
        /* thirdCard */
        .thirdCard {
            position: relative;
            padding: 30px 0 100px;
            background-color: black;
        }

        .thirdCardContent {
            margin: 0 25px;
        }

        .whoCanBecomeACreator {
            align-items: center;
            justify-content: space-between;
            display: block;
            text-align: center;
        }

        .whoCanBecomeACreator_info {
            position: relative;
        }

        .whoCanBecomeACreator img {
            width: 250px;
            height: 160px;
        }

        .whoCanBecomeACreator_title {
            font-size: 18px;
            font-weight: 500;
            line-height: 57px;
            position: relative;
        }

            .whoCanBecomeACreator_title:before {
                position: absolute;
                bottom: 0;
                left: 43%;
                width: 48px;
                height: 4px;
                content: "";
                background: linear-gradient(270deg,#c86398,#7e53f4);
            }

        .whoCanBecomeACreator_content {
            margin-top: 16px;
            font-size: 10px;
        }

            .whoCanBecomeACreator_content p {
                margin: 0;
                font-size: 10px;
                color: #c4c3e6;
                line-height: 20px;
                display: flex;
            }

        @@media screen and (max-width:767px) {
        }

        @@media screen and (min-width:768px) {
            .wrapper .header {
                padding: 144px 0 60px;
            }

            .headerImg {
                width: 300px;
            }

            .wrapper .header h1 {
                font-size: 30px;
            }

            .wrapper .header p {
                font-size: 20px;
            }

            .firstCard {
                padding: 40px 0 65px;
            }

            .firstCardContent {
                margin: 0 80px;
            }

            .whatIsACreator_title {
                font-size: 20px;
                line-height: 65px;
            }

            .btn {
                font-size: 14px;
                width: 140px;
            }

                .btn:hover {
                    font-size: 14px;
                    width: 140px;
                }

            .whatIsACreator_title:before {
                left: 47%;
            }

            .whatIsACreator_content {
                font-size: 14px;
                display: inline-block;
            }

            .privilegeTitle {
                font-size: 20px;
            }

            .secondCardContent {
                margin: 0 20px;
            }

            .itemImg {
                width: 40%;
            }

                .itemImg img {
                    width: 220px;
                    margin-left: 35%;
                }

            .itemText {
                width: 40%;
            }

            .title {
                font-size: 14px;
                line-height: 15px;
            }

            .content {
                font-size: 12px;
            }

            .thirdCard {
                padding: 40px 0 120px;
            }

            .thirdCardContent {
                margin: 0 80px;
            }

            .whoCanBecomeACreator {
                justify-content: space-evenly;
            }

            .whoCanBecomeACreator_title:before {
                left: 47%;
            }

            .whoCanBecomeACreator_content {
                font-size: 14px;
                display: inline-block;
            }

            .whoCanBecomeACreator_title {
                font-size: 20px;
                line-height: 65px;
            }

            .whoCanBecomeACreator_content p {
                font-size: 14px;
            }
        }

        @@media screen and (min-width:996px) {
            .wrapper .header {
                padding: 154px 0 70px;
            }

            .headerImg {
                width: 400px;
            }

            .btn {
                font-size: 16px;
                width: 160px;
            }

                .btn:hover {
                    font-size: 16px;
                    width: 160px;
                }

            .firstCard {
                padding: 50px 0 75px;
            }

            .firstCardContent {
                margin: 0 150px;
            }

            .whatIsACreator img {
                width: 270px;
                height: 180px;
            }

            .whatIsACreator_title {
                font-size: 22px;
                line-height: 80px;
            }

                .whatIsACreator_title:before {
                    left: 48%;
                }

            .whatIsACreator_content {
                font-size: 16px;
            }

            .secondCard {
                padding: 65px 0;
            }

            .privilegeTitle {
                font-size: 22px;
            }

            .title {
                font-size: 16px;
            }

            .content {
                font-size: 14px;
                line-height: 25px;
            }

            .itemImg img {
                width: 250px;
                margin-left: 45%;
            }

            .thirdCard {
                padding: 50px 0 130px;
            }

            .thirdCardContent {
                margin: 0 150px;
            }

            .whoCanBecomeACreator {
                justify-content: space-evenly;
            }

                .whoCanBecomeACreator img {
                    width: 270px;
                    height: 180px;
                }

            .whoCanBecomeACreator_title {
                font-size: 22px;
                line-height: 80px;
            }

            .whoCanBecomeACreator_content p {
                font-size: 16px;
            }

            .whoCanBecomeACreator_title:before {
                left: 48%;
            }
        }

        @@media screen and (min-width:1200px) {
            .headerImg {
                width: 563px;
                height: 75px;
            }

            .wrapper .header h1 {
                font-size: 48px;
            }

            .wrapper .header p {
                font-size: 24px;
                margin-top: 15px;
                margin-bottom: 40px;
            }

            .btn {
                font-size: 18px;
                width: 180px;
            }

                .btn:hover {
                    font-size: 18px;
                    width: 180px;
                }

            .firstCardContent {
                margin: 0 100px;
            }

            .whatIsACreator {
                display: flex;
            }

                .whatIsACreator img {
                    width: 400px;
                    height: 260px;
                }

            .whatIsACreator_title {
                font-size: 24px;
                display: flex;
            }

                .whatIsACreator_title:before {
                    left: 0%;
                }

            .whatIsACreator_content {
                font-size: 14px;
                text-align: left;
            }

            .items {
                display: block;
                width: 20%;
            }

            .itemImg {
                width: 100%;
            }

                .itemImg img {
                    width: 100%;
                    margin-left: auto;
                }

            .privilegeImgs {
                display: flex;
            }

            .secondCardContent {
                margin: 0 50px;
            }

            .title {
                font-size: 14px;
                margin: 0px 0 12px;
            }

            .content {
                font-size: 12px;
                line-height: 18px;
            }

            .privilegeTitle {
                font-size: 24px;
            }

            .itemText {
                width: 95%;
                text-align: center;
                margin: auto;
            }

            .thirdCardContent {
                margin: 0 80px;
            }

            .whoCanBecomeACreator {
                display: flex;
                justify-content: space-evenly;
            }

            .whoCanBecomeACreator {
                display: flex;
                flex-direction: row-reverse;
            }

                .whoCanBecomeACreator img {
                    width: 400px;
                    height: 262px;
                }

            .whoCanBecomeACreator_title {
                font-size: 24px;
                display: flex;
            }

                .whoCanBecomeACreator_title:before {
                    left: 0%;
                }

            .whoCanBecomeACreator_content p {
                font-size: 14px;
            }
        }

        @@media screen and (min-width:1800px) {
            .whoCanBecomeACreator {
                justify-content: space-evenly;
            }

            .whatIsACreator {
                justify-content: space-evenly;
            }

            .firstCardContent {
                margin: 0 320px;
            }
        }
    </style>




}