<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="CreatorProject.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- title -->
    <title>E-Pal: Redefining Lifestyle, game, chat, live</title>
</head>

<body>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- html -->

    <div class="wrapper">

        <!-- header -->
        <div class="header">
            <img class="headerImg" src="~/Assets/images/CreatorProject/CPH_01.png">
            <img class="shadowImg" src="~/Assets/images/CreatorProject/shadow.png">
            <h1>Become a Creator Now!</h1>
            <p>More exposure | More orders</p>
            <div class="epalButtonWrapper">
                <button type="button" class="btn btn-outline-secondary"
                        onclick="location.href='@Url.Action("ChooseAService","ChooseAService")'">
                    Apply For Free
                </button>
            </div>
        </div>

        <!-- firstCard -->
        <div class="firstCard">
            <div class="firstCardContent">
                <div class="whatIsACreator">
                    <img src="~/Assets/images/CreatorProject/CPH_02.png" />
                    <div class="whatIsACreator_info">
                        <div class="whatIsACreator_title">What is a Creator?</div>
                        <div class="whatIsACreator_content">
                            A Content Creator is a certified ePal who livestreams gaming
                            and entertainment content on a regular basis, while also accepting orders as an ePal.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- secondCard -->
        <div class="secondCard">
            <div class="secondCardContent">
                <div class="secondCardPrivilege">
                    <div class="privilegeTitle">Why become a Creator?</div>
                    <div class="privilegeImgs">
                        <div class="items">
                            <div class="itemImg">
                                <img src="~/Assets/images/CreatorProject/CPH_03.png">
                            </div>
                            <div class="itemText">
                                <div class="title">Livestream and get paid</div>
                                <div class="content">Increase your income by $100 per day</div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="itemImg">
                                <img src="~/Assets/images/CreatorProject/CPH_04.png" />
                            </div>
                            <div class="itemText">
                                <div class="title">Sync your livestream to get more followers</div>
                                <div class="content">
                                    Sync your stream onto E-Pal and get more than 20 followers per day
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="itemImg">
                                <img src="~/Assets/images/CreatorProject/CPH_05.png" />
                            </div>
                            <div class="itemText">
                                <div class="title">Extra ePal points to level up</div>
                                <div class="content">Additional 5% more ePal points than normal ePals</div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="itemImg">
                                <img src="~/Assets/images/CreatorProject/CPH_06.png" />
                            </div>
                            <div class="itemText">
                                <div class="title">Invites for money</div>
                                <div class="content">
                                    10 USD cash for each successfully verified creator you invite.
                                    Payments are sent to your wallet on the 5th of each month
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="itemImg">
                                <img src="~/Assets/images/CreatorProject/CPH_07.png" />
                            </div>
                            <div class="itemText">
                                <div class="title">Official Twitch Team</div>
                                <div class="content">
                                    You will have the opportunity to be invited into the Official E-Pal
                                    Twitch Team and receive special promotion by the platform
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- thirdCard -->
        <div class="thirdCard">
            <div class="thirdCardContent">
                <div class="whoCanBecomeACreator">
                    <img src="~/Assets/images/CreatorProject/CPH_08.png" />
                    <div class="whoCanBecomeACreator_info">
                        <div class="whoCanBecomeACreator_title">Who can become a Creator?</div>
                        <div class="whoCanBecomeACreator_content">
                            <p>1. Average concurrent viewer of 10 or above in the past 30 days.</p>
                            <p>2. Streamed at least 10 times in the past 30 days.</p>
                            <p>3. You must add a panel with a link to E-Pal.</p>
                            <p>4. Looking to monetize their content through E-Pal.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


@section topCSS{
    <style>

        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            color: white;
        }

        /* header */
        .wrapper .header {
            text-align: center !important;
            padding: 144px 0 50px !important;
            background: url('../../Assets/images/CreatorProject/CPH_09.jpg') 50% no-repeat !important;
            background-size: cover !important;
            position: relative !important;
        }

        .headerImg {
            display: block !important;
            width: 90% !important;
            margin: 0 auto 24px !important;
        }

        .shadowImg {
            position: absolute !important;
            bottom: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 121px !important;
        }

        .wrapper .header h1 {
            font-size: 25px !important;
            font-weight: 500 !important;
            line-height: 48px !important;
            margin: 0 !important;
        }

        .wrapper .header p {
            font-size: 15px !important;
            font-weight: 500 !important;
            margin-bottom: 40px !important;
        }

        .epalButtonWrapper {
            display: inline-block !important;
        }

        .btn {
            color: white !important;
            position: relative !important; 
            border: 0 !important;
            outline: 0 !important;
            margin-top: 5% !important;
            margin-bottom: 5% !important;
            width: 120px !important;
            padding: 6px !important;
            text-align: center !important;
            text-decoration: none !important;
            font-size: 10px !important;
            font-weight: 500 !important;
            box-sizing: border-box !important;
            background: linear-gradient(90deg, #625cff, #7041e6) !important;
            background-size: 100% !important;
            border-radius: 400px !important;
        }

            .btn:hover {
                color: white !important;
                position: relative !important;
                border: 0 !important;
                outline: 0 !important;
                margin-top: 5% !important;
                margin-bottom: 5% !important;
                width: 120px !important;
                padding: 6px !important;
                text-align: center !important;
                text-decoration: none !important;
                font-size: 10px !important;
                font-weight: 500 !important;
                box-sizing: border-box !important;
                background: linear-gradient(90deg, #625cff, #625cff) !important;
                background-size: 100% !important;
                border-radius: 400px !important;
            }

        .btn-outline-secondary {
            color: white !important;
            border-color: #6c757d !important;
        }

        /* firstCard */
        .firstCard {
            position: relative !important;
            padding: 30px 0 56px !important;
            background-color: black !important;
        }

        .firstCardContent {
            margin: 0 25px !important;
        }

        .whatIsACreator {
            align-items: center !important;
            justify-content: space-between !important;
            display: block !important;
            text-align: center !important;
        }

        .whatIsACreator_info {
            position: relative !important;
        }

        .whatIsACreator img {
            width: 250px !important;
            height: 160px !important;
        }

        .whatIsACreator_title {
            font-size: 18px !important;
            font-weight: 500 !important;
            line-height: 57px !important;
            position: relative !important;
        }

            .whatIsACreator_title:before {
                position: absolute !important;
                bottom: 0 !important;
                left: 43% !important;
                width: 48px !important;
                height: 4px !important;
                content: "" !important;
                background: linear-gradient(270deg,#c86398,#7e53f4) !important;
            }

        .whatIsACreator_content {
            margin-top: 16px !important;
            font-size: 10px !important;
            color: #c4c3e6 !important;
        }

        /* secondCard */
        .secondCard {
            padding: 56px 0 !important;
            background-color: #21212c !important;
        }

        .secondCardContent {
            margin: 0 5px !important;
        }

        .privilegeTitle {
            font-size: 18px !important;
            font-weight: 500 !important;
            color: var(--font-color-1) !important;
            line-height: 33px !important;
            text-align: center !important;
        }

        .items {
            display: flex !important;
        }

        .itemImg {
            width: 30% !important;
        }

            .itemImg img {
                width: 120px !important;
                margin: 30px 0 8px !important; 
            }

        .itemText {
            width: 65% !important;
            margin: auto 5px !important;
        }

        .title {
            font-size: 10px !important;
            font-weight: 500 !important;
            line-height: 0px !important;
            margin: 30px 0 8px !important;
        }

        .content {
            font-size: 10px !important;
            font-weight: 400 !important;
            color: #c4c3e6 !important;
            line-height: 18px !important;
        }

        /* thirdCard */
        .thirdCard {
            position: relative !important;
            padding: 30px 0 100px !important;
            background-color: black !important;
        }

        .thirdCardContent {
            margin: 0 25px !important;
        }

        .whoCanBecomeACreator {
            align-items: center !important;
            justify-content: space-between !important;
            display: block !important;
            text-align: center !important;
        }

        .whoCanBecomeACreator_info {
            position: relative !important;
        }

        .whoCanBecomeACreator img {
            width: 250px !important;
            height: 160px !important;
        }

        .whoCanBecomeACreator_title {
            font-size: 18px !important;
            font-weight: 500 !important;
            line-height: 57px !important;
            position: relative !important;
        }

            .whoCanBecomeACreator_title:before {
                position: absolute !important;
                bottom: 0 !important;
                left: 43% !important;
                width: 48px !important;
                height: 4px !important;
                content: "" !important;
                background: linear-gradient(270deg,#c86398,#7e53f4) !important;
            }

        .whoCanBecomeACreator_content {
            margin-top: 16px !important;
            font-size: 10px !important;
        }

            .whoCanBecomeACreator_content p {
                margin: 0 !important;
                font-size: 10px !important;
                color: #c4c3e6 !important;
                line-height: 20px !important;
                display: flex !important;
            }

        @@media screen and (max-width:767px) {
        }

        @@media screen and (min-width:768px) {

            .wrapper .header {
                padding: 144px 0 60px !important;
            }

            .headerImg {
                width: 300px !important;
            }

            .wrapper .header h1 {
                font-size: 30px !important;
            }

            .wrapper .header p {
                font-size: 20px !important;
            }

            .firstCard {
                padding: 40px 0 65px !important;
            }

            .firstCardContent {
                margin: 0 80px !important;
            }

            .whatIsACreator_title {
                font-size: 20px !important;
                line-height: 65px !important;
            }

            .btn {
                font-size: 14px !important;
                width: 140px !important;
            }

                .btn:hover {
                    font-size: 14px !important;
                    width: 140px !important;
                }

            .whatIsACreator_title:before {
                left: 47% !important;
            }

            .whatIsACreator_content {
                font-size: 14px !important;
                display: inline-block !important;
            }

            .privilegeTitle {
                font-size: 20px !important;
            }

            .secondCardContent {
                margin: 0 20px !important;
            }

            .itemImg {
                width: 40% !important;
            }

                .itemImg img {
                    width: 220px !important;
                    margin-left: 35% !important;
                }

            .itemText {
                width: 40% !important;
            }

            .title {
                font-size: 14px !important;
                line-height: 15px !important;
            }

            .content {
                font-size: 12px !important;
            }

            .thirdCard {
                padding: 40px 0 120px !important;
            }

            .thirdCardContent {
                margin: 0 80px !important;
            }

            .whoCanBecomeACreator {
                justify-content: space-evenly !important;
            }

            .whoCanBecomeACreator_title:before {
                left: 47% !important;
            }

            .whoCanBecomeACreator_content {
                font-size: 14px !important;
                display: inline-block !important;
            }

            .whoCanBecomeACreator_title {
                font-size: 20px !important;
                line-height: 65px !important;
            }

            .whoCanBecomeACreator_content p {
                font-size: 14px !important;
            }
        }

        @@media screen and (min-width:996px) {

            .wrapper .header {
                padding: 154px 0 70px !important;
            }

            .headerImg {
                width: 400px !important;
            }

            .btn {
                font-size: 16px !important;
                width: 160px !important;
            }

                .btn:hover {
                    font-size: 16px !important;
                    width: 160px !important;
                }

            .firstCard {
                padding: 50px 0 75px !important;
            }

            .firstCardContent {
                margin: 0 150px !important;
            }

            .whatIsACreator img {
                width: 270px !important;
                height: 180px !important;
            }

            .whatIsACreator_title {
                font-size: 22px !important;
                line-height: 80px !important;
            }

                .whatIsACreator_title:before {
                    left: 48% !important;
                }

            .whatIsACreator_content {
                font-size: 16px !important;
            }

            .secondCard {
                padding: 65px 0 !important;
            }

            .privilegeTitle {
                font-size: 22px !important;
            }

            .title {
                font-size: 16px !important;
            }

            .content {
                font-size: 14px !important;
                line-height: 25px !important;
            }

            .itemImg img {
                width: 250px !important;
                margin-left: 45% !important;
            }

            .thirdCard {
                padding: 50px 0 130px !important;
            }

            .thirdCardContent {
                margin: 0 150px !important;
            }

            .whoCanBecomeACreator {
                justify-content: space-evenly !important;
            }

                .whoCanBecomeACreator img {
                    width: 270px !important;
                    height: 180px !important;
                }

            .whoCanBecomeACreator_title {
                font-size: 22px !important;
                line-height: 80px !important;
            }

            .whoCanBecomeACreator_content p {
                font-size: 16px !important;
            }

            .whoCanBecomeACreator_title:before {
                left: 48% !important;
            }
        }

        @@media screen and (min-width:1200px) {

            .headerImg {
                width: 563px !important;
                height: 75px !important;
            }

            .wrapper .header h1 {
                font-size: 48px !important;
            }

            .wrapper .header p {
                font-size: 24px !important;
                margin-top: 15px !important;
                margin-bottom: 40px !important;
            }

            .btn {
                font-size: 18px !important;
                width: 180px !important;
            }

                .btn:hover {
                    font-size: 18px !important;
                    width: 180px !important;
                }

            .firstCardContent {
                margin: 0 100px !important;
            }

            .whatIsACreator {
                display: flex !important;
            }

                .whatIsACreator img {
                    width: 400px !important;
                    height: 260px !important;
                }

            .whatIsACreator_title {
                font-size: 24px !important;
                display: flex !important;
            }

                .whatIsACreator_title:before {
                    left: 0% !important;
                }

            .whatIsACreator_content {
                font-size: 14px !important;
                text-align: left !important;
            }

            .items {
                display: block !important;
                width: 20% !important;
            }

            .itemImg {
                width: 100% !important;
            }

                .itemImg img {
                    width: 100% !important;
                    margin-left: auto !important;
                }

            .privilegeImgs {
                display: flex !important;
            }

            .secondCardContent {
                margin: 0 50px !important;
            }

            .title {
                font-size: 14px !important;
                margin: 0px 0 12px !important;
            }

            .content {
                font-size: 12px !important;
                line-height: 18px !important;
            }

            .privilegeTitle {
                font-size: 24px !important;
            }

            .itemText {
                width: 95% !important;
                text-align: center !important;
                margin: auto !important;
            }

            .thirdCardContent {
                margin: 0 80px !important;
            }

            .whoCanBecomeACreator {
                display: flex !important;
                justify-content: space-evenly !important;
            }

            .whoCanBecomeACreator {
                display: flex !important;
                flex-direction: row-reverse !important;
            }

                .whoCanBecomeACreator img {
                    width: 400px !important;
                    height: 262px !important;
                }

            .whoCanBecomeACreator_title {
                font-size: 24px !important;
                display: flex !important;
            }

                .whoCanBecomeACreator_title:before {
                    left: 0% !important;
                }

            .whoCanBecomeACreator_content p {
                font-size: 14px !important;
            }
        }

        @@media screen and (min-width:1800px) {

            .whoCanBecomeACreator {
                justify-content: space-evenly !important;
            }

            .whatIsACreator {
                justify-content: space-evenly !important;
            }

            .firstCardContent {
                margin: 0 320px !important;
            }
        }
    </style>
}

