
@{
    ViewBag.Title = "HomeIndex";
}

<h2 class="loginTitle">test</h2>
<div>
    測試: <a href="/Test/Index">/Test/Index</a>
</div>

@*顯示登入結果訊息*@
<h3 class="loginMsg">@TempData["LoginState"]</h3>

@section topCSS{
    <style>
        body {
            background-color: #000000;
        }

        .loginTitle {
            padding-top: 100px;
            padding-left: 100px;
            color: white;
            font-size: 28px;
        }

        .loginMsg {
            padding-top: 20px;
            padding-left: 100px;
            color: white;
            font-size: 24px;
        }
    </style>

}