body {
    background-color: rgb(18, 14, 27);
}
hr{
  height: 1px;
  color: rgb(90, 90, 90);
}
.checkout-container {
  padding: 20px 0;
}
.checkout-header {
  font-weight: 600;
  font-size: 18px;
  padding: 15px 0;
}
.cart-summary {
  background-color: rgb(48, 47, 61);
  border-radius: 8px;
  padding: 10px 20px;
  border-top: 6px solid rgb(112, 65, 230);
}
.order-info,
.game-info,
.start-info,
.unit-price,
.rounds-info,
.subtotal-info,
.promotion,
.final-price-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}
.order-info{
  margin-top: 8px;
}
.game-info{
  align-items: initial;
}
.start-info{
  margin-top: 15px;
}
div.game-play{
  font-size: 19px;
  font-weight: 600;
  color: white;
  margin-right: 10px;
  width: 300px;
}
.game-info img{
  height: 50px;
  width: 50px;
  border-radius: 30px;
}

.greyish {
  color: rgb(196, 195, 230);
  font-size: 16px;
  font-weight: normal;
}
.desc {
  font-size: 16px;
  font-weight: normal;
}
.rounds-total{
  font-size: 14px;
}
.price-summary {
  font-size: 22px;
  font-weight: 600;
}
.payment {
  margin-top: 20px;
  background-color: rgb(48, 47, 61);
  border-radius: 8px;
  padding: 7px 20px;
  border: 2px solid rgb(112, 65, 230);
}
.payment-label label,
.payment-label input,
.payment-label {
  cursor: pointer;
}

.form-check-input:checked[type="radio"] {
    background-image: url('../images/checkout/check.png');
    background-size: contain;
    width: 19px;
    height: 19px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
.payment-check-label span {
  font-size: 16px;
  font-weight: 600;
  margin-left: 6px;
}
.paypal-img {
  width: 130px;
  height: auto;
  margin: 20px 27px;
  display: block;
}
.paypal-img img {
  width: 100%;
}
.total-div {
  border-top: 1px solid rgb(48, 47, 61);
  margin-top: 90px;
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.total-price {
  font-size: 15px;
}
.total-price,
.price-total-txt {
  margin-right: 15px;
}
.price-total-txt {
  font-size: 25px;
}
.checkout-btn-div {
  align-self: center;
}
.checkout-btn {
  border: none;
  background-color: rgb(0, 169, 150);
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 17px;
}
.checkout-btn:hover {
  background-color: rgb(45, 151, 139);
}
.timer-div.greyish{
  margin: 10px 0;
  font-size: 14px;
}
.time-left{
  color: orange;
}
.straighten{
    display: flex;
    align-items: center;
}

@media screen and (min-width: 576px) {
  .checkout-header {
    font-size: 22px;
    padding: 18px 0;
  }

  .payment-check-label span {
    font-size: 18px;
  }

  .total-div {
    margin-top: 135px;
  }
  .total-price,
  .price-total-txt {
    margin-right: 22px;
  }
}

@media screen and (min-width: 768px) {
  .checkout-container .row:nth-of-type(2) {
    display: flex;
    flex-direction: row-reverse;
  }
  .checkout-header {
    font-size: 30px;
    padding: 80px 0 20px;
  }
  .greyish,
  .desc {
    font-size: 15px;
  }
  .cart-summary {
    padding: 20px 25px;
   }
    .order-info,
    .game-info,
    .start-info,
    .unit-price,
    .rounds-info,
    .subtotal-info,
    .promotion,
    .final-price-div {
      margin: 12px 0;
    }
  .rounds-total{
    font-size: 14px;
  }
  div.game-play{
    font-size: 16px;
    width: 220px;
  }
  .payment {
    margin-top: 0px;
  }
  .paypal-img {
    width: 150px;
    height: auto;
    margin: 20px 27px;
  }
  .total-div {
    margin-top: 90px;
    padding-right: 80px;
  }
  .total-price {
    font-size: 16px;
  }
  .price-total-txt {
    font-size: 27px;
  }
  .checkout-btn {
    border-radius: 25px;
    padding: 7px 18px;
    font-size: 18px;
  }

}

@media screen and (min-width: 992px){
  div.game-play{
    font-size: 18px;
    width: 180px;
  }
}

@media screen and (min-width: 1200px){
  div.game-play{
    width: 290px;
  }
}
