body {
    font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    font-size: large;
    font-weight: 600;
}

.navbar {
    height: 66px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding: 6px 0 0;
    z-index:100;
}
.navbar .logo {
    display: inline-block;
    width: 150px;
}
.navbar .logo img {
    width: 80%;
    vertical-align: middle;
    padding-bottom: 6px;
}
.navbar #navbarLeft{
    margin-right: auto;
    display: none;
}
.navbar #navbarLeft .nav-item:not(:last-child)>a {
    border-bottom: 6px solid transparent;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    transition: color .3s;
    margin: 0 3px;
}

.navbar #navbarLeft .nav-item:hover:not(:last-child)>a {
    border-bottom: 6px solid #7041e6;
    color: #7041e6 !important;
}

.purple-text-border {
    color: #7041e6 !important;
    border-color: #7041e6 !important;
}

.navbar #dropdown-about {
    display: block;
    line-height: 1;
    padding: 10px 6px;
    margin-left: 10px;
    margin-top: 8px;
}

.navbar #dropdown-about:hover {
    background-color: #21212C;
    border-radius: 5px;
}

.navbar #dropdown-about-ul {
    position: absolute;
    top: 50px;
    /*z-index:100;*/
}

.navbar .dropdown-about-list .ultitle {
    font-size: 12px;
    font-weight: 300;
    padding: 10px 0 10px 15px;
    color: #a4a4d1;
}

.navbar .dropdown-about-list .dropdown-item {
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0 10px 15px;
}

.navbar .dropdown-about-list .dropdown-item:hover {
    background-color: #21212C;
}

.navbar-right {
    align-items: center;
    padding-bottom: 6px;
}



#loginmodal {
    background-color: transparent;
    border-color: white;
    border-radius: 3px;
    height: 30px;
}

#signupmodal {
    background-color: #8D65EA;
    border: 0;
    border-radius: 3px;
    height: 30px;
}

.modal .modal-content {
    border: 0;
    border-radius: 20px;
}

.modal .modalheader {
    background-color: #21212C;
    height: 190px;
    text-align: center;
}

.modal .modalheader img {
    display: inline-block;
    width: 40%;
    padding-top: 40px;
}

.modal .modalheader .logsign-title {
    display: inline-block;
    font-size: 16px;
    padding-top: 10px;
}

.modal .modalheader .btn-close {
    color: white;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 10px;
}

.modal .modal-body {
    background-color: #302F3D;
}

.modal .modal-body .logsign-tab {
    background-color: transparent;
    border: transparent;
    color: #b5b2e4;
    font-weight: 300;
    border-bottom: 4px soild transparent;
    transition: color .3s;
    margin-right: 10px;
}

.modal .modal-body .logsign-tab:hover {
    color: white;
    font-size: 600;
}

.logsign-purple-border {
    border-bottom: 4px solid #7041e6 !important;
    color: white !important;
}

.modal .modal-body form {
    position: relative;
}

.modal .modal-body #email {
    padding-top: 20px;
    font-weight: 100;
    font-size: 14px;
    color: #b5b2e4;
}

.modal .modal-body .emailinput {
    width: 420px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #21212C;
    color: white;
    border: 0;
}

.modal .modal-body #loginmethod {
    width: 35px;
    height: 40px;
    background-color: #21212C;
}

.modal .modal-body #loginmethod>i {
    color: white;
    position: absolute;
    left: 436px;
    top: 50px;
    font-size: 20px;
}

.maillog {
    /* display: none; */
}

.phonelog {
    display: none;
}

.modal .modal-body .phonelog #email {
    display: block;
}

.modal .modal-body .phonelog .phoneselect {
    width: 80px;
    background-color: #21212C;
    border: 0;
    margin-right: 5px;
    display: inline-block;
    color: white;
}

.modal .modal-body .phonelog .phoneinput {
    display: inline-block;
    width: 333px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #21212C;
    color: white;
    border: 0;
}

.modal .modal-body #password {
    padding-top: 20px;
    font-weight: 100;
    font-size: 14px;
    color: #b5b2e4;
}

.modal .modal-body .passwordinput {
    width: 460px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #21212C;
    color: white;
    border: 0;
}

.modal .modal-body form .ellipsis {
    font-size: 14px;
    padding-left: 8px;
}

.modal .modal-body .passwordshow {
    position: absolute;
    bottom: 65px;
    left: 390px;
    color: #7041e6;
    background-color: transparent;
    outline: none;
    border: transparent;
    font-size: 16px;
}

.modal .modal-body #forgetpass {
    display: block;
    text-decoration: none;
    color: #7041e6;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.modal .modal-body #loginbutton {
    display: block;
    color: #98979E;
    font-size: 20px;
    background-color: #302F3D;
    border-radius: 50px;
    width: 150px;
    margin: auto;
    font-weight: 600;
    margin-bottom: 20px;
}

.modal .modal-body .form-check {
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
}

.modal .modal-body .signchk {
    outline: none;
    background-color: #21212C;
    position: absolute;
    top: -4px;
    border: 0;
}

.modal .modal-body .signchktxt {
    color: #b5b2e4;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 300;
}

.modal .modal-body #signchklink {
    text-decoration: none;
    color: #7460F6;
}

.form-check input[type="checkbox"]:checked~.purplemark {
    border-color: #7041e6;
}

.modal .modalfooter {
    background-color: #302F3D;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.modal .modalfooter::before {
    content: '';
    display: inline-block;
    width: 93%;
    height: 1px;
    position: absolute;
    top: 0;
    border: .5px solid gray;
}

.modal .modalfooter p {
    font-size: 12px;
    font-weight: 200;
    color: #b5b2e4;
    padding: 15px 0;
}

.modal .modalfooter .otherlogin {
    justify-content: space-around;
}

.modal .modalfooter .otherlogin a {
    padding: 0 3px;
}

.modal .modalfooter .otherlogin #google {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 230px;
}

.modal .modalfooter .otherlogin .fab {
    font-size: 25px;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 8px 0;
}

.modal .modalfooter .otherlogin .fa-twitch {
    color: #9146FF;
}

.modal .modalfooter .otherlogin .fa-discord {
    color: #8599DF;
}

.modal .modalfooter .otherlogin .fa-apple {
    color: black;
}






footer {
    position: relative;
    bottom: 0;
    background-color: #302F3D;
    width: 100%;
    padding: 50px 0;
}

footer .container {
    display: flex;
}

footer img {
    width: 80%;
}

footer h4 {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 20px;
}

footer p {
    font-size: 10px;
    font-weight: 100;
    line-height: 1.5;
}

footer #company {
    width: 300px;
}

footer #address {
    padding-left: 50px;
}



@media screen and (max-width:767px) {

    .logsign-modal-button {
        display: none;
    }
    .navbar .container-fluid .logo{
        display: none;
    }
    .navbar .container-fluid ul .nav-item{
        display: none;
    }
    .navbar .becomeEPal-button{
        display: none;
    }

    #gotop {
        display: none;
    }

    footer {
        display: none;
    }
    .navbar{
        display: none;
    }

    /*sign in/up*/
    body{
        background-color: #21212C;
        margin: 0 10px;
    }
    
    .logsignform-sm{
        background-color: #21212C;
        width: 100%;
        height: 100%;
        padding: 40px;
        margin: 80px auto;
    }
    .logsignform-sm .tab-group{
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
        display: flex;
    }
    .active a{
        font-weight: 600 !important;
        font-size: 30px !important;
        color: white !important;
    }
    
    .logsignform-sm .tab-group a{
        text-decoration: none;
        color: #b5b2e4;
        font-size: 24px;
        display: block;
        padding-right: 30px;
        transition: .5s ease;
        font-weight: 300;
    }
    
    
    .tab-content .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    
    
    .tab-content>div:last-child {
        display: none;
    }
    
    .tab-content .logsign-title {
        color: white;
        font-weight: 300;
        margin: 0 0 40px;
        font-size: 13px;
        color: #b5b2e4;
        
    }
    
    .tab-content .field-wrap label {
        color: white;
        font-size: 14px;
        border: 0;
        outline: none;
        font-weight: 300;
    }
    
    
    .tab-content .field-wrap input{
        font-size: 18px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 0px;
        background: none;
        border: 0;
        color: white;
        outline: none;
        border-bottom: 1px solid #b5b2e4;
    }
    
    
    .tab-content .button {
        border: 0;
        outline: none;
        border-radius: 50px;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: .1em;
        background-color: #302F3D;
        color: #b5b2e4;
        transition: all.5s ease;
    }
    .tab-content .button-block {
        display: block;
        width: 100%;
    }
    
    .tab-content .forgot a {
        padding-top: 20px;
        text-align: left;
        text-decoration: none;
        display: block;
        color: #8D65EA;
        font-weight: 300;
        font-size: 14px;
    }

    .tab-content #login .login-footer,
    .tab-content #signup .signup-footer {
        margin-top: 20px;
    }

    .tab-content #login .login-footer p,
    .tab-content #signup .signup-footer p {
        font-size: 12px;
        color: #b5b2e4;
        padding: 30px 0;
        text-align: center;
    }

    .tab-content #login .login-footer .otherlogin,
    .tab-content #signup .signup-footer .othersignup {
        text-align: center;
        position: absolute;
        right: 60px;
    }

    .tab-content #login .login-footer .otherlogin a,
    .tab-content #signup .signup-footer .othersignup a {
        padding: 0 4px;
        display: inline-block;
        position: relative;
    }

    .tab-content #login .login-footer .otherlogin #google,
    .tab-content #signup .signup-footer .othersignup #google {
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        left: -35px;
        bottom: -10px;
    }

    .tab-content #login .login-footer .otherlogin .fab,
    .tab-content #signup .signup-footer .othersignup .fab {
        font-size: 25px;
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 8px 0;
    }

    .tab-content #login .login-footer .otherlogin .fa-twitch,
    .tab-content #signup .signup-footer .othersignup .fa-twitch {
        color: #9146FF;
    }

    .tab-content #login .login-footer .otherlogin .fa-discord,
    .tab-content #signup .signup-footer .othersignup .fa-discord {
        color: #8599DF;
    }

    .tab-content #login .login-footer .otherlogin .fa-apple,
    .tab-content #signup .signup-footer .othersignup .fa-apple {
        color: black;
    }
    
    
    .form-check {
        margin-top: 20px;
        margin-bottom: 15px;
        position: relative;
    }
    .signchk {
        outline: none;
        background-color: #b5b2e4;
        position: absolute;
        top: -4px;
        border: 0;
    }
    .signchktxt {
        color: #b5b2e4;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 300;
    }
    #signchklink {
        text-decoration: none;
        color: #7460F6;
    }
    .form-check input[type="checkbox"]:checked~.purplemark {
        border-color: #7041e6;
    }
    #signbtn{
        margin-top: 30px;
    }
}



@media screen and (min-width:768px) {
    .navbar-sm {
        display: none;
    }

    .becomeEPal-button {
        display: none;
    }
    .modal-content-sm{
        display: none;
    }

    .navbar-right .loginbtn {
        width: 80px;
        margin-left: 24px;
        border: 1px solid white;
        font-size: 13px;
        font-weight: 600;
    }
    #gotop {
        position: fixed;
        z-index: 1;
        right: 30px;
        bottom: 80px;
        display: none;
        width: 50px;
        height: 50px;
        color: #fff;
        background: #302F3D;
        line-height: 50px;
        border-radius: 5px;
        transition: all 0.5s;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .logsignform-sm{
        display: none;
    }

}



@media screen and (min-width:992px) {
    .becomeEPal-button {
        display: block;
    }


    
    .becomeEPal-button {
        width: 150px;
        border-radius: 100px;
        background-color: #7041e6;
        height: 30px;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        margin-left: 24px;
    }
    .becomeEPal-button a {
        display: inline-block;
        color: white;
        text-decoration: none;
    }


    footer img {
        width: 50%;
    }
    footer #company {
        width: 350px;
    }
    footer #address {
        padding-left: 50px;
    }
}

@media screen and (min-width:1200px) {
    footer img {
        width: 50%;
    }
    footer #company {
        width: 450px;
    }
    footer #address {
        padding-left: 150px;
    }
}