
@{
    ViewBag.Title = "EmailValidate";
}


<h2 class="ValidateTilte">註冊Email驗證結果:</h2>

@*顯示Email驗證結果訊息*@
<h3 class="ValidateMsg">@ViewData["EmailValidate"]</h3>
<br />
@*顯示登入與註冊連結*@
<!--@Html.ActionLink("去登入", "Login") |
@Html.ActionLink("再註冊", "Register")-->



@section topCSS{
    <style>
        .body{
            background-color:#000000;
            

        }

        .ValidateTilte {
            padding-top: 100px;
            padding-left:100px;
            color: blue;
            font-size:28px;
        }
        .ValidateMsg {
            padding-top: 20px;
            padding-left: 100px;
            color: blue;
            font-size: 24px;
        }
    </style>
    
    }

