@{
    ViewBag.Title = "ImageUpload";
}


<head>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
</head>
<body>

    <div class="container imageupload">
        <h2></h2>
        <div class="form-group">
            <label for="email">Images Upload:</label>
            <input type="file" class="form-control" id="filePhoto" placeholder="Upload File" name="File">
            <label id="ShowMsg"></label>
        </div>
        <button type="submit" class="btn btn-default" id="btnSubmit">Submit</button>
    </div>

</body>

@section topCSS{
    <style>
        .imageupload{
            padding-top:100px;
        }

    </style>
    }

@section endJS{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">

        $("#btnSubmit").click(function () {
            var fileUpload = $("#filePhoto").get(0);
            var files = fileUpload.files;
            // Create FormData object
            var fileData = new FormData();
            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            //var geturl = "Members/SaveImageToServer";
            $.ajax({
                url: "/Members/SaveImageToServer",
                type: "POST",
                data: fileData,
                async: false,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                success: function (IsImageUploaded) {
                    if (IsImageUploaded == "True") {
                        $("#filePhoto").val('');
                        $("#ShowMsg").text("Image Uploaded Successfully...!").css("color", "green")
                    }
                    else {
                        $("#filePhoto").val('');
                        $("#ShowMsg").text("Image Not Uploaded...!").css("color", "red")
                    }
                }
            });
        })

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            readURL(this);
        });
    </script>
}

