
@{
    ViewBag.Title = "Login";
}

<h2 class="title">Please Login</h2>

@section topCSS{
    <style>
        body {
            background-color: #000000;
        }
        .title {
            padding-top: 100px;
            padding-left: 100px;
            color: white;
            font-size: 28px;
        }
    </style>

}