
@{
    ViewBag.Title = "Logout";
}

<h2 class="logoutTitle">Logout</h2>
<h3 class="logoutMsg">See You</h3>

@section topCSS{
    <style>
        body {
            background-color: #000000;
        }

        .logoutTitle {
            padding-top: 100px;
            padding-left: 100px;
            color: white;
            font-size: 28px;
        }

        .logoutMsg {
            padding-top: 20px;
            padding-left: 100px;
            color: white;
            font-size: 24px;
        }
    </style>

}