
@{
    ViewBag.Title = "PrivacyPolicy";
}

<div class="container-fluid privacy">
    <div class="">

        <h2 class="privacytitle">PrivacyPolicy</h2>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 item">
                <p class="">Thank you for choosing to be part of our community at Epal.gg, doing business as Epal.gg ("Epal.gg", "EPAL, Inc.", "we", "us", or "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at support@epal.gg.</p>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 item">
                <p class="">When you visit our website Epal.gg, mobile application, and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites or Apps and our services.</p>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 item">
                <p class="">This privacy policy applies to all information collected through our website (such as Epal.gg), mobile application, ("Apps"), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "Services").</p>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>

</div>


@section topCSS{
    <style>

        body{
            background-color:black;
        }
        .privacy {
            padding-top: 95px;
        }
        .privacytitle {
            font-size: 28px;
            text-align: center;
            padding-bottom:20px;
        }
        .privacy .item {
            padding: 10px 0;
        }
        p {
            line-height:1.8;
            display:block;
            /*text-align:center;*/
        }

    </style>
    }