
@{
    ViewBag.Title = "RegisterResult";
}

<h2 class="registerTitle">註冊結果</h2>

@*顯示註冊結果訊息*@
<h3 class="registerMsg">@TempData["RegisterState"]</h3>

@section topCSS{
    <style>
        body {
            background-color: #000000;
        }

        .registerTitle {
            padding-top: 100px;
            padding-left: 100px;
            color: white;
            font-size: 28px;
        }

        .registerMsg {
            padding-top: 20px;
            padding-left: 100px;
            color: white;
            font-size: 24px;
        }
    </style>

}