
<div class="container-fluid">
    <div class="row">
        <div class=" items  col-12 col-md-3">
            <div class="text">
                <ul class="list-group ">
                    <a href="#parent-1" class="list-group-item list-group-item-action border-0 bg-transparent">Getting   Started</a>
                    <a href="#parent-2" class="list-group-item list-group-item-action border-0 bg-transparent">Orders</a>
                    <a href="#parent-3" class="list-group-item list-group-item-action border-0 bg-transparent">Discounts and                       Promotions</a>
                    <a href="#parent-4" class="list-group-item list-group-item-action border-0 bg-transparent">Refunds and Reviews</a>
                    <a href="#parent-5" class="list-group-item list-group-item-action border-0 bg-transparent">Money</a>
                    <a href="#parent-6" class="list-group-item list-group-item-action border-0 bg-transparent">Safety and Security</a>
                    <a href="#parent-7" class="list-group-item list-group-item-action border-0 bg-transparent">General</a>
                </ul>
            </div>
        </div>
        <div class="items bg-dark   border-0 col-12 col-md-9">
            <div class="text">
                <h1>FAQ</h1><br>
                <h2 id="parent-1">Getting Started</h2><br>
                <h2 class="h2_height">Q: What is an ePal?</h2>
                <p class="textcolor">
                    A: An ePal is a verified (18+) user who offers gaming
                    companionship
                    with a smile! ePals interact with the community,
                    participate in events, work with content creators, and represent EPal.gg.
                    There are many opportunities available to ePals,
                    the only limitation is your own ambition!
                </p><br>
                <h2 class="h2_height">Q: How do I become an ePal?</h2>
                <p class="textcolor">
                    A: An ePal is a verified (18+) user who offers gaming
                    companionship
                    with a smile! ePals interact with the community,
                    participate in events, work with content creators, and represent EPal.gg.
                    There are many opportunities available to ePals,
                    the only limitation is your own ambition!
                </p><br>
                <h2 class="h2_height">Q: Why was my application rejected?</h2>
                <p class="textcolor">
                    A: An ePal is a verified (18+) user who offers gaming
                    companionship
                    with a smile! ePals interact with the community,
                    participate in events, work with content creators, and represent EPal.gg.
                    There are many opportunities available to ePals,
                    the only limitation is your own ambition!
                </p><br>
                <h2 class="h2_height">Q: How can I become a Coach?</h2>
                <p class="textcolor">
                    A: An ePal is a verified (18+) user who offers gaming
                    companionship
                    with a smile! ePals interact with the community,
                    participate in events, work with content creators, and represent EPal.gg.
                    There are many opportunities available to ePals,
                    the only limitation is your own ambition!br
                </p><br>
                <h2 id="parent-2">Order</h2><br>
                <h2 class="h2_height">Q: What is an ePal?</h2>
                <p class="textcolor">
                    A: An ePal is a verified (18+) user who offers gaming
                    companionship
                    with a smile! ePals interact with the community,
                    participate in events, work with content creators, and represent EPal.gg.
                    There are many opportunities available to ePals,
                    the only limitation is your own ambition!
                </p><br>
                <h2 class="h2_height">Q: How do I become an ePal?</h2>
                <p class="textcolor">
                    A: An ePal is a verified (18+) user who offers gaming
                    companionship
                    with a smile! ePals interact with the community,
                    participate in events, work with content creators, and represent EPal.gg.
                    There are many opportunities available to ePals,
                    the only limitation is your own ambition!
                </p><br>
                <h2 class="h2_height">Q: Why was my application rejected?</h2>
                <p class="textcolor">
                    A: An ePal is a verified (18+) user who offers gaming
                    companionship
                    with a smile! ePals interact with the community,
                    participate in events, work with content creators, and represent EPal.gg.
                    There are many opportunities available to ePals,
                    the only limitation is your own ambition!
                </p><br>
                <h2 class="h2_height">Q: How can I become a Coach?</h2>
                <p class="textcolor">
                    A: An ePal is a verified (18+) user who offers gaming
                    companionship
                    with a smile! ePals interact with the community,
                    participate in events, work with content creators, and represent EPal.gg.
                    There are many opportunities available to ePals,
                    the only limitation is your own ambition!br
                </p><br>
                <h2 id="parent-3">Discounts and</h2><br>
                <h2 id="parent-4">Refunds and Reviews</h2><br>
                <h2 id="parent-5">Money</h2><br>
                <h2 id="parent-6">Safety and Security</h2><br>
                <h2 id="parent-7">General</h2><br>
            </div>
        </div>

    </div>
</div>
@section topCSS{
    <style>
        header {
            height: 66px;
        }
        @@media screen and (max-width: 767px) {
          
            header {
                height: 0px;
            }
        }  
            .items {
                padding: 30px;
                background-color: rgb(33,33,44)
            }

            .text a {
                font-size: 15px;
                color: white;
            }

            .text h1 {
                font-size: 30px;
                color: white;
            }

            .text h2 {
                font-size: 15px;
                color: white;
            }

            html, body {
                font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
                height: 100%;
            }

            .textcolor {
                font-size: 13px;
                color: rgb(185,185,218);
            }

            .h2_height {
                font-size: 10px;
                height: 40px;
            }
    
    </style>

    }