
@{
    ViewBag.Title = "Page404";
}

<div class="container-fluid page404">
    <img src="~/Assets/images/Page404/404.png" alt="404img">
    <h1>404 ERROR !</h1>
    <h2>PAGE NOT FOUND</h2>
</div>


@section topCSS{
    <style>
        body {
    font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    /* box-sizing: border-box; */
    background-color: #120E1B;
}


.page404 {
    padding-top: 66px;
}
.page404 img{
    width: 80%;
    margin: 0 auto;
    padding:100px 0 30px;
    display: block;
}
.page404 h1{
    text-align: center;
    font-size: 36px;
}
.page404 h2{
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}


@@media screen and (max-width:767px) {
}

@@media screen and (min-width:768px) {
    .page404 img{
        padding:200px 0 30px;
    }
    .page404 h2{
        line-height: 2;
    }
}

@@media screen and (min-width:992px) {
    .page404 img{
        width: 60%;
        padding:120px 0 30px;
    }
    .page404 h2{
        line-height: 2;
    }
}

@@media screen and (min-width:1200px) {
    .page404 img{
        width: 40%;
        padding:120px 0 30px;
    }
    .page404 h1{
        font-size: 60px;
    }
    .page404 h2{
        font-size: 36px;
    }
}

    </style>
    }

