
@{
    ViewBag.Title = "Failure";
}
@section topCSS{
<style>

    h2.aa{
    font-size: 100px;
    color: red;
    }
    p{
    color: black;
    }
</style>

}

<h2 class="aa">Failure</h2>
<p>hi</p>

