
@{
    ViewBag.Title = "FailureView";
}
@section topCSS{
    <style>
        div {
        font-size: 300px;
        color: pink;
        }
    </style>

}

<div>fail</div>
<div>fail</div>
<div>fail</div>
<div>fail</div>
<div>fail</div>
<div>fail</div>
<div>fail</div>
<div>fail</div>
<div>fail</div>
<div>fail</div>
<div>fail</div>
