
@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <style>
        body {
            /*background-color: mediumpurple;*/
        }

        .doge {
        display: flex;
        justify-content: center;
       margin: auto;
            margin-top: 350px;
            width: 150px;
            height: auto;

        }
    </style>

}
<h2>Index</h2>

<img class="doge"src="https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/Dogecoin_cryptocurrency_Jackson_Palmer_drdNBC.jpg"/>