
@{
    ViewBag.Title = "NotFound";
}

@section topCSS{
    <style>

        .not-found {
            margin-top: 200px;
            text-align: center;
            color: mediumpurple;
            font-size: 50px;
            line-height: 1.6;
        }
        .doge {
            display: flex;
            justify-content: center;
            margin: auto;
            margin-top: 20px;
            width: 150px;
            height: auto;
        }
    </style>

}
<h2>Index</h2>

<div class="not-found">Item not found <br /> or <br />
Listing not complete </div>

<img class="doge" src="https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/Dogecoin_cryptocurrency_Jackson_Palmer_drdNBC.jpg" />