    <!-- chatroom -->
<div class="chatroom">
    <button class="chatbot" onclick="MsgRoomOpen()">
        <img src="~/Assets/images/layout/chatroom.png" alt="">
        <!-- <i class="fas fa-comment-dots"></i> -->
    </button>

    <div class="chat-container-phone dropdown" id="dropdown-message" data-bs-toggle="dropdown">

        <div class="row">
            <div class="col-12 col-md-5 col-xl-3 border-right" id="chatside">

                <div class="px-4 d-none d-md-block">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <input type="text" class="form-control my-3" placeholder="Search..." id="searchinput">
                        </div>
                    </div>
                </div>

                <a href="#" class="list-group-item list-group-item-action border-0">
                    <div class="badge bg-success float-right">5</div>
                    <div class="d-flex align-items-start">
                        <img src="~/Assets/images/layout/chat1.jpg" class="rounded-circle mr-1" alt="Amy" width="40" height="40">
                        <div class="flex-grow-1 ml-3 item-txt">
                            Amy
                            <div class="small">
                                <span class="fas fa-circle chat-online"></span> Online
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item list-group-item-action border-0">
                    <div class="badge bg-success float-right">2</div>
                    <div class="d-flex align-items-start">
                        <img src="~/Assets/images/layout/chat2.jpg" class="rounded-circle mr-1" alt="Betty" width="40" height="40">
                        <div class="flex-grow-1 ml-3 item-txt">
                            Betty
                            <div class="small">
                                <span class="fas fa-circle chat-online"></span> Online
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex align-items-start">
                        <img src="~/Assets/images/layout/chat3.jpg" class="rounded-circle mr-1" alt="Jet" width="40" height="40">
                        <div class="flex-grow-1 ml-3 item-txt">
                            Jet
                            <div class="small">
                                <span class="fas fa-circle chat-online"></span> Online
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex align-items-start">
                        <img src="~/Assets/images/layout/chat3.jpg" class="rounded-circle mr-1" alt="Jet" width="40" height="40">
                        <div class="flex-grow-1 ml-3 item-txt">
                            Jet
                            <div class="small">
                                <span class="fas fa-circle chat-online"></span> Online
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex align-items-start">
                        <img src="~/Assets/images/layout/chat3.jpg" class="rounded-circle mr-1" alt="Jet" width="40" height="40">
                        <div class="flex-grow-1 ml-3 item-txt">
                            Jet
                            <div class="small">
                                <span class="fas fa-circle chat-online"></span> Online
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex align-items-start">
                        <img src="~/Assets/images/layout/chat3.jpg" class="rounded-circle mr-1" alt="Jet" width="40" height="40">
                        <div class="flex-grow-1 ml-3 item-txt">
                            Jet
                            <div class="small">
                                <span class="fas fa-circle chat-online"></span> Online
                            </div>
                        </div>
                    </div>
                </a>
            </div>



            <div class="col-12 col-md-7 col-xl-9" id="chatcontent">
                <div class="py-2 px-4 border-bottom d-none d-md-block">
                    <div class="d-flex align-items-center py-1">

                        <div class="position-relative">
                            <img src="~/Assets/images/layout/chat3.jpg" class="rounded-circle mr-1" alt="Jet" width="40" height="40">
                        </div>
                        <div class="flex-grow-1 pl-3" id="headertitle">
                            <strong>Jet</strong>
                            <div class="text-muted small" id="txt"><em>Typing...</em></div>
                        </div>
                        <div class="chatroom-close">
                            <button type="button" class="btn-close btn-close-white" aria-label="Close"
                                    onclick="MsgRoomClose()"></button>
                        </div>

                    </div>
                </div>


                <div class="chat-messages p-4">

                    <div class="chat-message-right pb-4">
                        <div>
                            <img src="~/Assets/images/layout/avatar.png" class="rounded-circle mr-1" alt="Chris Wood" width="40"
                                 height="40">
                            <div class="text-muted small text-nowrap mt-2 time">2:33 am</div>
                        </div>
                        <div class="flex-shrink-1  rounded py-2 px-3 mr-3" id="msgbox">
                            hi
                        </div>
                    </div>

                    <div class="chat-message-left pb-4">
                        <div>
                            <img src="~/Assets/images/layout/chat3.jpg" class="rounded-circle mr-1" alt="Sharon Lessman" width="40"
                                 height="40">
                            <div class="text-muted small text-nowrap mt-2 time">2:34 am</div>
                        </div>
                        <div class="flex-shrink-1  rounded py-2 px-3 ml-3" id="msgbox">
                            yo man
                        </div>
                    </div>


                    <div class="chat-message-right pb-4">
                        <div>
                            <img src="~/Assets/images/layout/avatar.png" class="rounded-circle mr-1" alt="Chris Wood" width="40"
                                 height="40">
                            <div class="text-muted small text-nowrap mt-2 time">2:33 am</div>
                        </div>
                        <div class="flex-shrink-1  rounded py-2 px-3 mr-3" id="msgbox">
                            hi
                        </div>
                    </div>

                    <div class="chat-message-left pb-4">
                        <div>
                            <img src="~/Assets/images/layout/chat3.jpg" class="rounded-circle mr-1" alt="Sharon Lessman" width="40"
                                 height="40">
                            <div class="text-muted small text-nowrap mt-2 time">2:34 am</div>
                        </div>
                        <div class="flex-shrink-1  rounded py-2 px-3 ml-3" id="msgbox">
                            yo man
                        </div>
                    </div>
                    <div class="chat-message-right pb-4">
                        <div>
                            <img src="~/Assets/images/layout/avatar.png" class="rounded-circle mr-1" alt="Chris Wood" width="40"
                                 height="40">
                            <div class="text-muted small text-nowrap mt-2 time">2:33 am</div>
                        </div>
                        <div class="flex-shrink-1  rounded py-2 px-3 mr-3" id="msgbox">
                            hi
                        </div>
                    </div>

                    <div class="chat-message-left pb-4">
                        <div>
                            <img src="~/Assets/images/layout/chat3.jpg" class="rounded-circle mr-1" alt="Sharon Lessman" width="40"
                                 height="40">
                            <div class="text-muted small text-nowrap mt-2 time">2:34 am</div>
                        </div>
                        <div class="flex-shrink-1  rounded py-2 px-3 ml-3" id="msgbox">
                            yo man
                        </div>
                    </div>
                    <div class="chat-message-right pb-4">
                        <div>
                            <img src="~/Assets/images/layout/avatar.png" class="rounded-circle mr-1" alt="Chris Wood" width="40"
                                 height="40">
                            <div class="text-muted small text-nowrap mt-2 time">2:33 am</div>
                        </div>
                        <div class="flex-shrink-1  rounded py-2 px-3 mr-3" id="msgbox">
                            hi
                        </div>
                    </div>

                    <div class="chat-message-left pb-4">
                        <div>
                            <img src="~/Assets/images/layout/chat3.jpg" class="rounded-circle mr-1" alt="Sharon Lessman" width="40"
                                 height="40">
                            <div class="text-muted small text-nowrap mt-2 time">2:34 am</div>
                        </div>
                        <div class="flex-shrink-1  rounded py-2 px-3 ml-3" id="msgbox">
                            yo man
                        </div>
                    </div>

                </div>


                <div class="flex-grow-0 py-3 px-4 " id="msginput">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type your message">
                        <button class="btn btn-primary">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@section topCSS{
    <style>
        body {
    font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    font-size: large;
    font-weight: 600;
}

@@media screen and (max-width:767px) {

    .chatbot {
        display: none;
    }
    .chat-container-phone {
        /* display: none; */
        height: 67%;
        background-color: #21212C;
        z-index: 9;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .chat-container-phone .row {
        height: 100%;
        width: 100%;
    }
    .chat-container-phone .row #chatside {
        background-color: #21212C;
        position: relative;
        overflow-y: scroll;
        height: 35%;
        padding-top: 20px;
        width: 100vw;
    }
    .chat-container-phone .row #searchinput {
        border: 0;
        background-color: #120E1B;
        color: white;
    }
    .chat-container-phone .row #chatside .list-group-item {
        background-color: #21212C;
        height: 80px;
        width: 100%;
    }
    .chat-container-phone .row #chatside .list-group-item .item-txt {
        color: white;
        font-weight: 300;
        padding-left: 10px;
        line-height: 1.5;
        font-size: 14px;
    }


    .chat-container-phone .chat-online {
        color: #34ce57
    }
    .chat-container-phone .chat-offline {
        color: #e4606d
    }

    .chat-container-phone .chat-message-left, .chat-container-phone .chat-message-right {
        display: flex;
        flex-shrink: 0
    }
    .chat-container-phone .chat-message-left {
        margin-right: auto
    }
    .chat-container-phone .chat-message-right {
        flex-direction: row-reverse;
        margin-left: auto
    }

    .chat-container-phone .row #chatcontent {
        background-color: #302F3D;
        position: relative;
        max-height: 101%;
        width: 100vw;
        margin-left: 12px;
    }
    .chat-container-phone #chatcontent #headertitle {
        padding-left: 15px;
        padding-top: 5px;
        height: 50px;
    }
    .chat-container-phone #chatcontent #headertitle #txt {
        line-height: 1.3;
    }

    .chat-container-phone #chatcontent .chat-messages {
        display: flex;
        flex-direction: column;
        max-height: 85%;
        overflow-y: scroll;
    }

    .chat-container-phone #chatcontent .chat-messages .time {
        font-weight: 300;
        font-size: 13px;
    }
    .chat-container-phone #chatcontent #msgbox {
        background-color: #21212C;
        font-weight: 300;
    }
    .chat-container-phone #chatcontent .chat-message-right #msgbox {
        background-color: #21212C;
        margin-right: 20px;
    }
    .chat-container-phone #chatcontent .chat-message-left #msgbox {
        background-color: #21212C;
        margin-left: 20px;
    }
    .chat-container-phone #chatcontent #msginput {
        position: absolute;
        bottom: 15px;
        width: 95%;
    }
    .chat-container-phone #chatcontent #msginput input {
        outline: 0;
        border: 0;
        background-color: #120E1B;
        color: white;
    }
    .chat-container-phone #chatcontent #msginput button {
        outline: 0;
        border: 0;
        background-color: #120E1B;
    }

}

@@media screen and (min-width:768px) {
    html{
        display: none;
    }
}
    </style>
    }
