
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@*顯示登入結果訊息*@
<h3 class="loginMsg">測試業面</h3>

@section topCSS{
    <style>
        body {
            background-color: #000000;
        }

        .loginTitle {
            padding-top: 100px;
            padding-left: 100px;
            color: white;
            font-size: 28px;
        }

        .loginMsg {
            padding-top: 100px;
            padding-left: 100px;
            color: white;
            font-size: 24px;
        }
    </style>

}

