<div class="container topContent">
    <div class="row navBarPhone">
        <div class="col leftNavbar">
            <i class="fas fa-angle-left"></i>
        </div>
        <div class="col centerNavbar">Buff</div>
        <div class="col rightNavbar">
            <i class="fas fa-question-circle"></i>
        </div>
    </div>
    <div class="row itemTitle">
        <div class="itemTitle">MyBalance</div>
    </div>

    <div class="row pcTitle">
        <div class="col">
            <p>Wallet</p>
        </div>
    </div>
    <div class="pcItemName">
        <div>
            <p>Buff Income</p>
        </div>
    </div>

    <div class="liveContent">
        <div class="row infoCard">
            <div class="incomeHead col-3 col-md-2">
                <img src="~/Assets/WalletImages/Income.png" alt="Alternate Text" />
            </div>
            <div class="incomeText col-9 col-md-8">
                <div class="incomeFare">
                    <span class="fareTitle">BuffIncome</span>
                    <div class="incomeItem">
                        <img src="~/Assets/WalletImages/Money.png" />
                        <span class="IntegerNumber">0</span>
                        <span class="pointNumber">
                            .
                            00
                        </span>
                    </div>
                </div>
                <p>Earned Buffs</p>
            </div>
            <div class="incomeWithdraw col-3 col-md-2">
                <button type="button" class="btn btn-primary">Withdraw</button>
            </div>
        </div>
    </div>
</div>




<!-- 桌機版(End) -->

<div class="container table">
    <div class="row orderCalender">
        <div class="col-4 col-md-1 selectCalender">
            <div class="calenderItem">Sep</div>
            <div class="calenderItem">,</div>
            <div class="calenderItem">2021</div>
            <i class="fas fa-angle-down"></i>
        </div>
        <div class="col-12 col-md-1 orderIncome">
            <div class="expensePhone co-6">Expense 0.00</div>
            <div class="pcIncome col-6">
                <div>Income</div>
                <div>0.00</div>
            </div>
        </div>
    </div>
    <div class="row orderField">
        <div class="col">
            Item
        </div>
        <div class="col">
            Order
        </div>
        <div class="col">
            Time
        </div>
        <div class="col">
            User
        </div>
        <div class="col-2">
            Payment Gateway
        </div>
        <div class="col">
            Amount
        </div>
        <div class="col">
            Status
        </div>
    </div>
    <div class="row walletDetail">
        <img src="~/Assets/WalletImages/wallet.png" />
        <p>No details now~</p>
    </div>
</div>
    </div>

@section topCSS{

    <style>
        /* 寫手機版(Start) */
        .navBarPhone {
            text-align: center;
            color: white;
            font-size: 20px;
        }

        .navBarPhone:nth-child(1) div{
            /* background-color: gray; */
        }

        .leftNavbar {
            text-align: left;
        }
        .centerNavbar {
            text-align: center;
        }
        .rightNavbar {
            text-align: right;
        }

        .itemTitle {
            color: white;
            padding: 0;
            margin-bottom: 5px;
            margin-top: 10px;
        }

        .liveContent {
            background-color: rgb(25, 17, 104);
        }

        .incomeHead {
            background-color: #7692ce;
            display: flex;
            justify-content: center;
            align-items: center;

        }


        .incomeText {
            background-color: #7692ce;
            color: white;
        }


        .incomeText p {
            font-size: 5px;
        }

        .incomeHead img {
            background-color: rgb(69, 72, 99);
            border-radius: 50px;
            width: 70%;
        }

        .incomeFare {
            display: flex;
            justify-content: space-between;
        }

        .incomeFare img {
            width: 30%;
        }

        .incomeFare a {
            text-decoration: none;
            color: white;
        }

        .incomeFare span {
            font-weight: bolder;
        }

        .incomeMoney {
        }

        .topContent {
            background-color: #3a6eda;
            padding: 30px;
        }

        .total {
            display: flex;
        }

        .orderCalender {
            background-color: #302f3d;
            color: white;
        }

        .phoneExpense {
            background-color: #302f3d;
            color: white;
        }

        .walletDetail {
            background-color: #302f3d;
            display: flex;
            justify-content: center;

        }

        .walletDetail img {
            width: 50%;
            margin: 50px 0;
        }

        .walletDetail p {
            color: white;
            text-align: center;

        }
        .pcIncome {
                display: flex;
                /* margin: 0px; */
            }

        /* 寫手機版(End) */

        /* max-width:767px (手機直向)
        min-width:768px(手機橫向)
        min-width:996px(平板橫向)
        min-with:1200px(桌機) */

        @@media screen and (max-width:767px) {
            .pcTitle {
                display: none;
            }

            .pcItemName {
                display: none;
            }

            .orderField {
                display: none;
            }

            .incomeWithdraw {
                display: none;
            }

            .selectCalender {
                display: flex;
            }

            .orderIncome {
                display: flex;
                padding: 4px;
                justify-content: space-between;
            }


            .selectCalender div {
            padding: 2px;
            }

            .orderIncome .expensePhone {
            }


        }

        @@media screen and (min-width:768px) {
            body {
                background-color: black;
            }

            .topContent {
                background-color: black;
            }

            .phoneExpense {
                display: none;
            }

            .expensePhone {
                display: none;
            }

            .navBarPhone {
                display: none;
            }

            .itemTitle {
                display: none;
            }


            .pcTitle {
                color: white;
            }

            .pcTitle p {
                font-size: 24px;
            }

            .pcItemName {
                color: white;
            }

            .pcItemName p {
                font-size: 24px;
                border-bottom: 6px solid #7041e6;
            }


            .incomeHead {
                background-color: #302f3d;
            }

            .incomeHead img {
                background-color: #302f3d;
                width: 80%;
            }

            .incomeText {
                background-color: #302f3d;
                display: flex;

            }

            .incomeFare {
                display: inline;
                margin: 30px 0;

            }

            .incomeFare img {
                width: 20%;
            }

            .fareTitle {
                font-size: 18px;
            }



            .incomeText p {
                display: none;
            }

            .IntegerNumber {
                font-size: 48px;
            }

            .pointNumber {
                font-size: 24px;
            }

            .incomeWithdraw {
                background-color: #302f3d;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .incomeWithdraw button {
                font-size: 20px;
                border-radius: 30px;
                background: #7041e6;
                border-color: #7041e6;
            }

            .table {
                padding: 30px;
            }

            .orderIncome {
                margin: 0 50px;
            }

            .selectCalender {
                display: flex;
                margin: 5px;
                font-size: 18px;
            }

            .selectCalender div {
                padding: 2px;
            }



            .pcIncome {
                display: flex;
            }

            .orderField {
                background-color: #21212c;
                color: #ffff;
                padding: 16px;
            }

            .walletDetail img {
                width: 30%;
            }

            .walletDetail p {
                color: white;
                text-align: center;
            }
        }

        @@media screen and (min-width:996px) {}


        @@media screen and (min-width:1200px) {}
    </style>



}