
@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <style>
    body{
    background-color: mediumpurple;
    }
    .not-found{
        margin-top: 200px;
        text-align: center;
        color: white;
        font-size: 50px;
    }
    </style>

}
<h2>Index</h2>

<div class="not-found">Item not found :( </div>