
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div>test</div>
<div>test</div><div>test</div>
<div>test</div><div>test</div>
<div>test</div>
<div>test</div>
<div>test</div>
<div>test</div>
<div style="color:black">test</div>
<div>test</div>

