@model  GroupViewModel
@{
    ViewBag.Title = "Followings";
    var Cards = Model.FollowMembers;

}




<!-- visitorsPage -->
<div class="visitorPage">
    <div class="pageWrapper">
        <div class="content">
            <p>Home>Profile>Visitors</p>
            <div class="title">Jzp’s visitors</div>

            <!-- pageLoading -->
            <div class="pageLoading">
                <div class="pageContainer">
                    <div class="addGame">

                        <!-- visitorsTabs -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item purple-text-border" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                        aria-selected="true">
                                    Following(2)
                                </button>
                            </li>
                            <li class="nav-item purple-text-border" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                        aria-selected="false">
                                    Followers(0)
                                </button>
                            </li>
                            <li class="nav-item purple-text-border" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                        data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                        aria-selected="false">
                                    Recent Visitors(0)
                                </button>
                            </li>
                        </ul>

                        <!-- tabContent -->
                        <div class="tab-content" id="myTabContent">

                            <!-- Following(5) -->
                            <div class="tab-pane fade show active" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div class="list">
                                    <ul class="list-group">


                                        @*@if (Cards != null)
                                            {*@



                                        @foreach (var item in Cards)
                                        {


                                            <!-- profilecard - online -->
                                            <li class="list-group-item">
                                                <div class="listCard">
                                                    <div class="profileAvatar">
                                                        <span class="antAvatar">
                                                            @*<img src="~/Assets/MemberImgages/Following/head1.jpg" />*@
                                                            <img src="@item.ProfilePicture" alt="avatar">
                                                        </span>
                                                        <div class="antStatus">
                                                            <div class="onlineStatus">
                                                                <div class="smallIcon">
                                                                    <span class="iconImg">
                                                                        <img src="@item.LineStatus" />

                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="profileBox">
                                                        <div class="profileInfo">
                                                            <div class="infoTitle">
                                                                <a href="https://www.epal.gg/epal/2322">
                                                                    <div class="paragraph name">
                                                                        <div class="antTypography antTypographyLine">
                                                                            @*pgcalm*@
                                                                            @item.MemberName

                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <div class="infoSpace infoSapceAlign">
                                                                    <div class="antSpaceItem">
                                                                        <div class="smallSpaceIcon">
                                                                            <span class="antSpaceAvatar antSpaceSquare antSpaceImg">
                                                                                @*@if (item.Gender == 1){<img src="~/Assets/MemberImgages/Following/boy.png" />}
                                                                                  else{<img src="~/Assets/MemberImgages/Following/girl.png" />}*@
                                                                                @if (@item.Gender == 0)
                                                                                { <div class="gender"><img class="gender" src="https://res.cloudinary.com/johnson1990hitachi1/image/upload/v1632833966/Profile/gender-m_msytvi.png" alt=""></div>}
                                                                                else
                                                                                { <div class="gender"><img class="gender" src="https://res.cloudinary.com/johnson1990hitachi1/image/upload/v1632833966/Profile/gender-f_ia8gbh.png" alt=""></div>}

                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="infoFollow infoFollowAlign infoFollowDesc">
                                                                <div class="antFollow">
                                                                    <span class="antFollowing">173 Following</span>
                                                                </div>
                                                                <div class="antFollow">
                                                                    <span class="antFollowers">436 Followers</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="listButton">
                                                    <div class="followButton">
                                                        <button class="btnfollowing" id="followButton">Following</button>
                                                    </div>
                                                    <div class="chatBotton">
                                                        <button type="button" class="btn btn-outline-dark">Chat</button>
                                                    </div>
                                                </div>
                                            </li>

                                        }

                                    </ul>
                                </div>
                            </div>

                            <!-- Followers(0) -->
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="list">

                                    <div class="nobody">
                                        @*<img src="~/Assets/MemberImgages/Following/nobody.png" />*@
                                        <img src="https://res.cloudinary.com/johnson1990hitachi1/image/upload/v1632840566/Profile/nobody_lbbrte.png" />
                                        <h5>Wow, nobody is here!</h5>
                                    </div>

                                </div>
                            </div>

                            <!-- Recent Visitors(0) -->
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="list">

                                    <div class="nobody">
                                        @*<img src="~/Assets/MemberImgages/Following/nobody.png" />*@
                                        <img src="https://res.cloudinary.com/johnson1990hitachi1/image/upload/v1632840566/Profile/nobody_lbbrte.png" />
                                        <h5>Wow, nobody is here!</h5>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section topCSS{
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            color: white;
        }

        /* visitorsPage */
        body {
            background-color: black;
        }


        .visitorPage {
            height: 100%;
            overflow: auto;
            position: relative;
        }

        .pageWrapper {
            width: 100%;
            background-position: 50%;
            background-size: cover;
        }

        .content {
            padding: 60px 20px;
        }

            .content p {
                padding: 11px 0;
                color: #c4c3e6;
                font-size: 12px;
            }

        .title {
            margin-bottom: 24px;
            line-height: 1;
            font-size: 32px;
            font-weight: 500;
        }

        /* pageLoading */
        .pageLoading {
            position: relative;
        }

        .pageContainer {
            transition: opacity .3s;
        }

        .addGame {
            width: 100%;
        }

        /* visitorsTabs */

        .gameTabs {
            margin-bottom: 24px;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            border-bottom: 6px solid transparent !important;
            display: flex !important;
            align-items: center !important;
            text-align: center !important;
            transition: color .3s !important;
            margin: 0 3px !important;
            border-color: #7041e6 !important;
            cursor: pointer;
        }

        .purple-text-border {
            color: #7041e6 !important;
            border-color: #7041e6 !important;
        }

        .nav-item a {
            font-size: 14px;
            color: #c4c3e6;
        }

        a:hover {
            color: #7041e6 !important;
        }

        .nav-link:focus, .nav-link:hover {
            color: #7041e6 !important;
        }

        .nav-tabs .nav-link {
            border: none !important;
        }

        .nav-tabs {
            border-bottom: 1px solid #c4c3e6 !important;
        }

            .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
                background-color: transparent !important;
            }

        .nav {
            display: flex;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        .nav-link {
            font-size: 14px !important;
            color: #c4c3e6 !important;
        }

        /* list */

        .list-group {
            border-radius: 0rem !important;
        }

        .list-group-item {
            color: #212529;
            background-color: transparent !important;
            border: 1px solid transparent !important;
        }

        .list-group-item {
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            padding: 12px 0 !important;
            color: #fff !important;
        }

        .listCard {
            display: flex;
            min-width: 0;
        }

        /* profileAvatar */
        .profileAvatar {
            width: 58px;
            height: 58px;
            margin-right: 6px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .antAvatar {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum","tnum";
            position: relative;
            display: inline-block;
            overflow: hidden;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
            background: #ccc;
            width: 32px;
            height: 32px;
            line-height: 32px;
            border-radius: 50%;
            width: 50px;
            height: 48px;
            line-height: 48px;
            font-size: 18px;
        }

            .antAvatar img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .antStatus {
            position: unset;
            bottom: 12px;
            right: 12px;
            width: 12px;
            height: 12px;
            margin-top: 40px;
        }

        .onlineStatus {
            display: flex;
            align-items: center;
        }

        .offlineStatus {
            display: flex;
            align-items: center;
        }

        .smallIncon {
            display: inline;
        }

        .iconImg {
            width: 12px;
            height: 12px;
            line-height: 12px;
            font-size: 18px;
            background: transparent;
            border-radius: 2px;
        }

            .iconImg img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        /* profilebox */

        .listCard .profileInfo {
            flex: 1 1;
            min-width: 0;
        }

        .listCard .profileBox .profileInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .profileInfo {
            height: 58px;
        }

        .listCard .profileBox .profileInfo .infoTitle {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .infoTitle a {
            color: #7041e6;
            text-decoration: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            transition: color .3s;
        }

        .paragraph {
            word-break: break-word;
        }

        .name {
            min-width: 0;
            margin-right: 4px;
            font-size: 18px;
            font-weight: 500;
            color: white;
            line-height: 25px;
        }

        .paragraph .antTypography {
            margin: 0;
        }

        .name .antTypography {
            font-size: 14px;
            color: white;
        }

        .antTypographyLine {
            white-space: nowrap;
        }

        .infoSpace {
            display: inline-flex;
            gap: 4px;
        }

        .infoSapceAlign {
            align-items: center;
        }

        .smallSpaceIcon {
            display: inline;
            width: 20px;
            height: 20px;
        }

        .antSpaceAvatar {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum","tnum";
            position: relative;
            display: inline-block;
            overflow: hidden;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
            background: #ccc;
            width: 20px;
            height: 20px;
            line-height: 32px;
            border-radius: 50%;
        }

        .antSpaceSquare {
            border-radius: 2px;
        }

        .antSpaceImg {
            background: transparent;
        }

            .antSpaceImg img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .infoFollow {
            display: inline-flex;
            gap: 8px;
        }

        .infoFollowAlign {
            align-items: center;
        }

        .infoFollowDesc {
            color: #C4C3E6;
            font-size: 12px;
            margin-top: 4px;
        }

        .antFollowing {
            color: #C4C3E6;
        }

        .antFollowers {
            color: #C4C3E6;
        }

        /* nobody */
        .nobody {
            margin: auto;
        }

            .nobody img {
                margin-top: 50px;
                width: 320px;
            }

            .nobody h5 {
                font-size: 16px;
                margin-top: 30px;
                text-align: center;
            }

        /* button */
        .listButton {
            display: flex;
            flex-direction: column;
        }

        .followButton {
            display: inline-block;
        }

        .btnfollowing {
            color: white !important;
            position: relative !important;
            border: 0 !important;
            outline: 0 !important;
            margin-top: 5% !important;
            margin-bottom: 5% !important;
            width: 80px !important;
            padding: 9px !important;
            text-align: center !important;
            text-decoration: none !important;
            font-size: 12px !important;
            font-weight: 500 !important;
            box-sizing: border-box !important;
            border: 1px solid #21212C !important;
            background: #21212C !important;
            background-size: 100% !important;
            border-radius: 400px !important;
        }

            .btnfollowing:hover {
                color: white !important;
                background-color: #4f4e60 !important;
                border-color: #4f4e60 !important;
            }

            .btnfollowing:active {
                color: white !important;
                background-color: #4f4e60 !important;
                border-color: #4f4e60 !important;
            }

        .chatButton {
            display: inline-block;
            margin: 0 23px 0px 0;
        }

        .btn-outline-dark {
            position: relative !important;
            border: 0 !important;
            outline: 0 !important;
            margin-top: 5% !important;
            margin-bottom: 5% !important;
            width: 80px !important;
            padding: 9px !important;
            text-align: center !important;
            text-decoration: none !important;
            font-size: 12px !important;
            font-weight: 500 !important;
            box-sizing: border-box !important;
            border: 1px solid #7041e6 !important;
            color: white !important;
            background: #7041e6 !important;
            background-size: 100% !important;
            border-radius: 400px !important;
        }

            .btn-outline-dark:hover {
                color: white !important;
                background-color: #7041e6 !important;
                border-color: #2f244d !important;
            }

        @@media screen and (max-width:767px) {
        }

        @@media screen and (min-width:768px) {

            .list {
                display: grid;
                grid-template-columns: repeat(2,120%);
            }

            .list {
                margin: 0 23px 24px 0;
            }

            .nobody {
                margin-left: 130px;
            }

                .nobody img {
                    margin-top: 80px;
                    width: 450px;
                }

                .nobody h5 {
                    font-size: 22px;
                    margin-top: 30px;
                    text-align: center;
                }

            .list-group {
                width: 85%;
            }

            .list-group-item {
                flex-direction: row !important;
            }

            .listButton {
                display: flex;
                flex-direction: row;
            }

            .btnfollowing {
                font-size: 14px !important;
                width: 120px !important;
            }

            .btn-outline-dark {
                font-size: 14px !important;
                width: 120px !important;
            }

            .followButton {
                margin: 0 18px 0px 0;
            }
        }

        @@media screen and (min-width:996px) {

            .list {
                display: grid;
                grid-template-columns: repeat(3,120%);
            }

            .list {
                margin: 0 23px 24px 0;
            }

            .nobody {
                margin-left: 250px;
            }

                .nobody img {
                    margin-top: 80px;
                    width: 450px;
                }

                .nobody h5 {
                    font-size: 22px;
                    margin-top: 30px;
                    text-align: center;
                }

            .list-group {
                width: 85%;
            }

            .list-group-item {
                flex-direction: row !important;
            }

            .listButton {
                display: flex;
                flex-direction: row;
            }

            .btnfollowing {
                font-size: 14px !important;
                width: 120px !important;
            }

            .btn-outline-dark {
                font-size: 14px !important;
                width: 120px !important;
            }

            .followButton {
                margin: 0 18px 0px 0;
            }
        }

        @@media screen and (min-width:1200px) {

            .list {
                display: grid;
                grid-template-columns: repeat(4,120%);
            }

            .list {
                margin: 0 23px 24px 0;
            }

            .nobody {
                margin-left: 350px;
            }

                .nobody img {
                    margin-top: 120px;
                    width: 450px;
                }

                .nobody h5 {
                    font-size: 22px;
                    margin-top: 50px;
                    text-align: center;
                }

            .list-group {
                width: 85%;
            }

            .list-group-item {
                flex-direction: row !important;
            }

            .listButton {
                display: flex;
                flex-direction: row;
            }

            .btnfollowing {
                font-size: 14px !important;
                width: 120px !important;
            }

            .btn-outline-dark {
                font-size: 14px !important;
                width: 120px !important;
            }

            .followButton {
                margin: 0 18px 0px 0;
            }
        }
    </style>
}