
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-6">
            <div class="text">
                <div class="title">
                    <img src="~/Assets/AboutUsImages/aboutusmark.png" alt="" style="width: 120px; height: 40px;">
                </div>
                <div>
                    <h1 class="h1_size col-12 clo-md-12">About E-Pal</h1><br>
                    <p class="p_fontsize col-12 clo-md-12">
                        E-Pal is the world largest online game
                        players communication platform, which
                        ime.
                    </p><br>
                    <p class="p_fontsize col-12 clo-md-12">
                        Don’t know where to find online game players
                        o play together? Then try the website epal.gg.
                        E-Pal is the world largest online game players
                        s’ at their free time.
                        With the slogan Never Battle Alone and the purple
                        background, there are so many E girl gamers and eboys trying to sell their time to play
                        games and earn
                        money in their game time.
                    </p><br>
                    <p class="p_fontsize col-12 clo-md-12">
                        You might ask What sets E-Pal apart? With E-Pal's gender-inclusivity,
                        active Discord server with over 30,000 members and a dedicated staff
                        team that genuinely listens to its members' and their suggestions,
                        this alone showcases just how much Epal values its close relationship
                        with their users. New users will dive into a new world of social gaming
                        through a catalog of hand-picked popular games, an evolving community forum,
                        a brand new e-chat feature,
                        match feature and a number of other exciting additions to come.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
</div>
@section topCSS{
    <style>
        header {
            height: 66px;
        }
        @@media screen and (max-width: 767px) {

            header {
                height: 0px;
            }
        }  

        .container {
            color: aliceblue;
        }

        .text {
            font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
            color: aliceblue;
            text-align: left;
            padding:20px
        }

        .title h2 {
            font-size: 20px;
            text-align: center;
            padding: 25px;
            font-family: monospace;
        }

        .text h1 {
            font-size: 40px;
        }

        .title {
           height:70px
        }

        html, body {
            font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
            height: 100%;
        }

        body {
            font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
            background-color: rgb(118,72,231);
            height: 100vh;
            background-image: url(/Assets/AboutUsImages/about.png);
           
            background-size: cover;
            background-repeat: no-repeat;
        }
        .p_fontsize{
            font-size:12px;
        }
        .h1_size {
            height:70px;
        }
    </style>

}